.body {
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
    margin-top: 55px;
}

/* Visualizzazione mobile */
@media screen and (max-width: 767px) {
    .body {
      padding: 1.7rem;
      margin-left: 0px;
    }
  }

.body-full {
    margin-left: 0px;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
    margin-top: 0px;
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}