#btn {
    margin: 0px 0px 0px 10px;
  
  }

  #btnForm {
    margin: 0px;
  
  }

@media screen and (max-width: 767px) {
    #btn {
      width: 100%;
      margin: 0px 0px 15px 0px;
    }

    #btnForm {
        width: 100%;
        margin: 15px 0px 15px 0px;
      }
    
  }