<h1>{{payment.title}}</h1>

<div class="ed-container">
    <div class="container ed-container">
        <div class="row">
            <div class="col-sm ed-block-standard">
                <div>
                    <h4>Descrizione</h4>
                    <p>{{payment.description}}</p>
                </div>
            </div>
            <div class="col-sm ed-block-standard">
                <div>
                    <h4>Dettagli</h4>
                    <p></p>
                    <ul>
                        <li>
                            <p><b>Titolo: </b>{{payment.title}}</p>
                        </li>
                        <li>
                            <p><b>Titolo: </b>{{payment.title}}</p>
                        </li>
                        <li>
                            <p><b>Titolo: </b>{{payment.title}}</p>
                        </li>
                        <li>
                            <p><b>Titolo: </b>{{payment.title}}</p>
                        </li>
                        <li>
                            <p><b>Titolo: </b>{{payment.title}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
