<div class="container full-height align-items-center ed-full-width">
  <div class="row ed-full-heigth">
      <div class="col-md-6 ed-background">
          
      </div>
      <div class="col-md-6 ed-form-block">
      <!-- Colonna sinistra: Form di accesso -->
      <div>
            <h4 class="text-dark">Registrati</h4>
        </div>
        <form [formGroup]="userProfileForm" class="ed-margin-30 tw-form-grid">
            <div class="user-info">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Email</label>
                        <input
                          class="tw-input"
                          placeholder="Email"
                          formControlName="email"
                        >
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Password</label>
                        <input
                          class="tw-input"
                          placeholder="Password"
                          type="password"
                          formControlName="password"
                        >
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Codice Fiscale</label>
                        <input
                          class="tw-input"
                          placeholder="Codice Fiscale"
                          formControlName="fiscal_code"
                        >
                      </div>
                    </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Nome</label>
                        <input
                          class="tw-input"
                          placeholder="Nome"
                          formControlName="first_name"
                        >
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Cognome</label>
                        <input
                          class="tw-input"
                          placeholder="Cognome"
                          formControlName="last_name"
                        >
                      </div>
                    </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Telefono</label>
                        <input
                          class="tw-input"
                          placeholder="Telefono"
                          formControlName="phone"
                        >
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="tw-field" style="width: 100%;">
                        <label class="tw-label">Cellulare</label>
                        <input
                          class="tw-input"
                          placeholder="Cellulare"
                          formControlName="mobile"
                        >
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <button mat-raised-button class="primary-button" (click)="addUser()">Conferma registrazione</button>
          </form>
        </div>
    </div>
  </div>
  

