

#btn{
    margin: 0px 0px 0px 10px;
    
  }

  #btnFull {
    vertical-align: middle;
    align-items: center !important;
    margin: 0 0 0 0;
    width: 100%;
  }

  .mobile {
    margin: 20px 0px 0px 0px;
    padding-left: 0%;
    padding-right: 0%;
  }
  
@media screen and (max-width: 767px) {
    #btn { 
      width: 100%;
      margin: 0px 0px 15px 0px;
    }
    .ed-block-standard {
      margin-bottom: 15px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 25px;
    }
  }