#btn{
    margin: 0px 0px 0px 10px;
    
  }

  .ed-block-standard {
    margin: 0%;
  }

  .form {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;   
  }

  @media screen and (max-width: 767px) {
    #btn { 
      width: 100%;
      margin: 0px 0px 15px 0px;
    }

    .form{ 
      gap: 0rem;
    }

    .ed-block-standard { 
      margin-top: 10px;
    }
  }

.container-fluid {
  margin-bottom: 12px;
}

.btn-bar button + button {
  margin-left: 8px;
}

.ed-block-standard .form {
  display: block;
}

.w-100 {
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 12px;
}

.grid-1 { grid-template-columns: 1fr; }
.grid-2 { grid-template-columns: 1fr 1fr; }
.grid-3 { grid-template-columns: 1fr 1fr 1fr; }

@media (max-width: 992px) {
  .grid-2, .grid-3 {
    grid-template-columns: 1fr;
  }
}
