<div class="container full-height align-items-center ed-full-width">
  <div class="row ed-full-heigth">
      <div class="col-md-6 ed-background">
          
      </div>
      <div class="col-md-6 ed-form-block">
      <!-- Colonna sinistra: Form di accesso -->
      <div>
          <h4 class="text-dark">Recupera la password</h4>
      </div>
      <form [formGroup]="userResetPasswordForm" class="ed-margin-30 tw-form-stack">
          <div class="user-info">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="tw-field" style="width: 100%;">
                      <label class="tw-label">Inserisci la tua email</label>
                      <input
                        class="tw-input"
                        placeholder="Email"
                        formControlName="email"
                      >
                    </div>
                </div>
            </div>
          </div>
          <button mat-raised-button class="primary-button" (click)="sendResetLink()">Invia il link di recupero</button>
          </div>
      </form>
      </div>
  </div>
</div>


