<!--<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <h4>Reset password</h4>
      </div>
      <form [formGroup]="resetPasswordForm" class="tw-form-stack">
        <div class="form-group">
          <input type="password" formControlName="formPassword" class="form-control" [(ngModel)]="newPassword['password']" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.formPassword.errors }">
          <div *ngIf="submitted && f.formPassword.errors" class="invalid-feedback">
            <div *ngIf="f.formPassword.errors.required">La password è richiesta</div>
            <div *ngIf="f.formPassword.errors.minlength">La password deve essere minimo di 8 caratteri</div>
          </div>
        </div>
  
        <div class="form-group">
          <input type="password" formControlName="formConfirmPassword" class="form-control" [(ngModel)]="newPassword['password_confirm']" placeholder="Conferma password" [ngClass]="{ 'is-invalid': submitted && f.formConfirmPassword.errors }">
          <div *ngIf="submitted && f.formConfirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.formConfirmPassword.errors.required">La conferma della password è richiesta</div>
            <div *ngIf="f.formConfirmPassword.errors.mustMatch">Le password devono corrispondere!</div>
          </div>
        </div>
        <button class="btn btn-primary btn-block text-white btn-user" [disabled]="disableButton" (click)="reset()" style="background: #18396b;border-color: #18396b;">Invia</button>
        <div *ngIf="showErrorMessage" class="text-danger">
          <div>{{ errorMessage }}</div>
        </div>
      </form>
    </div>
  </div>-->
  